@tailwind base;
@tailwind components;
@tailwind utilities;

.my-input {
  @apply block m-1.5 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500;
}
